{% include "blocks/header.html" %}
<body>
{% include "blocks/navbar.html" %}

    <div class='container-fluid clearfix'>
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron m-1">
                  <h1 class="display-4 title">Welcome in Career Landscape</h1>
                  <br>
                  <p class="lead">
                      We believe that people knowledge is best represented as a landscape, with hills and valley,
                      peaks and depression, more than a ledger like is usualy represented.
                      The idea of a landscape is more linked to a non linear path ( and in some way random path )
                      of knowledge development, instead of a linear predefined path, suitable for everyone.
                  </p>
                  <hr class="my-4">
                  <p>We want a tool to have a discussion on how the person feels are is strong point and is weakness,
                        and in which topics he wants to invest time and energy in the following month.
                        It’s not a tool aimed to judge someone, or to put people in competition.</p>
                  <a class="btn btn-success btn-md float-right" href="{% url 'clusters:index' %}" role="button">Home</a>
                </div>
            </div>
        </div>
    </div>

    {% include "blocks/footer.html" %}
    {% include "blocks/scripts.html" %}

  </body>
  </html>