{% include "blocks/header.html" %}
<body>
{% include "blocks/navbar.html" %}

    <div class='container-fluid clearfix'>
      <br>
      {% if circles %}
        <form action="{% url 'clusters:index' %}" method="get">
          {% for circle_name, context in circles.items %}
            <div class='row p-4'>
              <div class='col-md-4'>
                <div class="shadow card" style="width: 18rem;">
                  <div class="card-body">
                    <h3 class="card-title title">
                      <img src="{% static "clusters/images/circle-half.svg" %}" alt="" width="32" height="32" title="Documents">
                      {{ circle_name }} Circle
                    </h3>
                    <p class="card-text">
                      Here the {{ circle_name }} Circle description ..
                    </p>
                    <hr>
                    <h5 class="card-subtitle mb-2 text-muted">
                      Topics:
                    </h5>
                    {% if context.topics_details %}
                      <ul  class="list-group">
                        {% for name, number in context.topics_details.items %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ name }} : <span class="badge dark-grey-bg text-white">{{ number }}</span>
                          </li>
                        {% endfor %}
                      </ul>
                      <hr>
                      <div class="form-group">
                        <label for="topic_value_gt_{{ context.circle_id }}">
                          Value Filter
                        </label>
                        {% if context.topic_value_gt %}
                          <p>Value Filter Setted: > {{ context.topic_value_gt }}</p>
                        {% endif %}
                        <select
                          class="form-control"
                          name="topic_value_gt_{{ context.circle_id }}"
                          id="topic_value_gt_{{ context.circle_id }}"
                        >
                          {% for topic_value in '01234'|make_list %}
                            {% if topic_value == context.topic_value_gt %}
                              <option selected='selected' value={{ topic_value }}>
                                > {{ topic_value }}
                              </option>
                            {% else %}
                              <option value={{ topic_value }}>
                                > {{ topic_value }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <hr>
                      <div class="form-group">
                        <label for="topic_dimension_eq">
                          Dimension Filter
                        </label>
                        {% if context.topic_dimension_eq %}
                          <p>Dimension Filter Setted: {{ context.topic_dimension_eq }}</p>
                        {% endif %}
                        <select
                          class="form-control"
                          name="topic_dimension_eq_{{ context.circle_id }}"
                          id="topic_dimension_eq_{{ context.circle_id }}"
                        >
                          <option value="-1">All</option>
                          {% for dimension in context.dimensions %}
                            {% if dimension.name == context.topic_dimension_eq %}
                              <option selected="selected" value="{{ dimension.id }}">
                                {{ dimension.name }}
                              </option>
                            {% else %}
                              <option value="{{ dimension.id }}">
                                {{ dimension.name }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>

                      <input type="submit">
                    {% else %}
                      <p>No Topics available.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class='col-md-8'>
                <div
                  class='ml-5 media'
                  id="{{ circle_name }}"
                  style="width:500px;height:500px;"
                ></div>
              </div>
            </div>
            <hr>
          {% endfor %}
        </form>
      {% else %}
        <p>No Circle available.</p>
      {% endif %}

    </div>

    {% include "blocks/footer.html" %}

    {{ circles|json_script:"circles-json-data" }}
    <script>
      const context = JSON.parse(
        document.getElementById("circles-json-data").textContent
      );

      for (const circle in context) {
        let topics_details = context[circle]['topics_details'];
        let topics_names = Object.keys(topics_details);
        let max_range = Math.max(...(Object.values(topics_details))) + 1;
        let tooltip = topics_names.map(
          name => name + " : " + topics_details[name]
        )

        data = [{
          type: 'scatterpolar',
          r: Object.values(topics_details),
          theta: topics_names,
          fill: 'toself',
          fillcolor: 'rgba(224,0,0,0.5)',
          line : {
                color : 'rgba(224,0,0,1)',
                },
          hovertext: tooltip,
          hoverinfo: "text",
        }];

        layout = {
          polar: {
            radialaxis: {
              visible: true,
              range: [0, max_range],
              dtick: 1
            }
          },
          showlegend: false
        };

        Plotly.plot(document.getElementById(circle), data, layout);
      }
    </script>

  {% include "blocks/scripts.html" %}
  </body>
</html>
