<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <title>Clusters</title>

    <meta charset="utf-8">
    <meta name="description" content="clusters">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Dosis|Kaushan+Script&display=swap"
    >
    <link
      rel="stylesheet"
      href="{% static "clusters/css/style.css" %}"
    >

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand title" href="{% url 'clusters:index' %}">
        Career Landscape
      </a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">
            About <span class="sr-only">(current)</span>
          </a>
        </div>
      </div>
    </nav>

    <div class='container-fluid clearfix'>

      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'clusters:uploadFile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Upload">
         </form>
        </div>
      </div>

      <hr>
      {% if circles %}
        <form action="{% url 'clusters:index' %}" method="get">
          {% for circle_name, context in circles.items %}
            <div class='row p-4'>
              <div class='col-md-4'>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h3 class="card-title title">
                      {{ circle_name }} Circle
                    </h3>
                    <h4 class="card-subtitle mb-2 text-muted">
                      Topics:
                    </h4>
                    <p class="card-text">
                      Here the {{ circle_name }} Circle description.
                    </p>
                    {% if context.topics_details %}
                      <ul>
                        {% for name, number in context.topics_details.items %}
                          <h6>
                            <li>{{ name }} : {{ number }}</li>
                          </h6>
                        {% endfor %}
                      </ul>
                      <hr>
                      <div class="form-group">
                        <label for="topic_value_gt_{{ context.circle_id }}">
                          Value Filter
                        </label>
                        {% if context.topic_value_gt %}
                          <p>Value Filter Setted: > {{ context.topic_value_gt }}</p>
                        {% endif %}
                        <select
                          class="form-control"
                          name="topic_value_gt_{{ context.circle_id }}"
                          id="topic_value_gt_{{ context.circle_id }}"
                        >
                          {% for topic_value in '01234'|make_list %}
                            {% if topic_value == context.topic_value_gt %}
                              <option selected='selected' value={{ topic_value }}>
                                > {{ topic_value }}
                              </option>
                            {% else %}
                              <option value={{ topic_value }}>
                                > {{ topic_value }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <hr>
                      <div class="form-group">
                        <label for="topic_dimension_eq">
                          Dimension Filter
                        </label>
                        {% if context.topic_dimension_eq %}
                          <p>Dimension Filter Setted: {{ context.topic_dimension_eq }}</p>
                        {% endif %}
                        <select
                          class="form-control"
                          name="topic_dimension_eq_{{ context.circle_id }}"
                          id="topic_dimension_eq_{{ context.circle_id }}"
                        >
                          <option value="-1">All</option>
                          {% for dimension in context.dimensions %}
                            {% if dimension.name == context.topic_dimension_eq %}
                              <option selected="selected" value="{{ dimension.id }}">
                                {{ dimension.name }}
                              </option>
                            {% else %}
                              <option value="{{ dimension.id }}">
                                {{ dimension.name }}
                              </option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>

                      <input type="submit">
                    {% else %}
                      <p>No Topics available.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class='col-md-8'>
                <div
                  class='ml-5 media'
                  id="{{ circle_name }}"
                  style="width:500px;height:500px;"
                ></div>
              </div>
            </div>
            <hr>
          {% endfor %}
        </form>
      {% else %}
        <p>No Circle available.</p>
      {% endif %}

    </div>

    <footer
      id="sticky-footer"
      class="py-4 bg-dark text-white-50"
      style="margin-top:40px"
    >
      <div class="container text-center">
        <small>
          Copyright &copy; <span class="title">XPeppers, a Claranet Group Company</span>
        </small>
      </div>
    </footer>

    {{ circles|json_script:"circles-json-data" }}
    <script>
      const context = JSON.parse(
        document.getElementById("circles-json-data").textContent
      );

      for (const circle in context) {
        let topics_details = context[circle]['topics_details'];
        let topics_names = Object.keys(topics_details);
        let max_range = Math.max(...(Object.values(topics_details))) + 1;
        let tooltip = topics_names.map(
          name => name + " : " + topics_details[name]
        )

        data = [{
          type: 'scatterpolar',
          r: Object.values(topics_details),
          theta: topics_names,
          fill: 'toself',
          hovertext: tooltip,
          hoverinfo: "text",
        }];

        layout = {
          polar: {
            radialaxis: {
              visible: true,
              range: [0, max_range],
              dtick: 1
            }
          },
          showlegend: false
        };

        Plotly.plot(document.getElementById(circle), data, layout);
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
