
{% include "blocks/header.html" %}
<body>
{% include "blocks/navbar.html" %}

    <div class='container-fluid clearfix'>
        <div class="row">
          <div class="col-md-12">
            {% if messages %}
              {% for message in messages%}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row p-4">
            <div class="col-md-4 p-3">
              <div class="shadow card p-3" style="width: 18rem;">
                <h4 class="card-title">
                    <img src="{% static "clusters/images/documents.svg" %}" alt="" width="32" height="32" title="Documents">
                    Upload Excel
                </h4>
                <hr>
                <form class='mt-2' action="{% url 'clusters:manage' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ upload }}
                  <br><br><input class="float-right" type="submit" value="Upload">
                </form>
              </div>
            </div>
            <div class="card shadow p-3 col-md-8">
                <form action="{% url 'clusters:manage' %}" method="get">
                    <div class="form-group">
                        <label class='text-right' for="selected_user">
                            <h4>
                                <img src="{% static "clusters/images/people.svg" %}" alt="" width="38" height="38" title="Documents">
                                 Users Career Landscapes
                            </h4>
                          </label>
                          <hr>
                          <select
                          class="mt-4 form-control"
                          name="selected_user"
                          id="selected_user"
                          >
                            {% for user_id, username in users.items %}
                                <option value={{ user_id }}>
                                  {{ username.0|title }} {{ username.1|title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="See">
                </form>
            </div>
          </div>
    </div>

    {% include "blocks/footer.html" %}
    {% include "blocks/scripts.html" %}

  </body>
</html>
