<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <title>Clusters</title>

    <meta charset="utf-8">
    <meta name="description" content="clusters">

    <link rel="icon" href="{% static "clusters/images/favicon.ico" %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Dosis|Kaushan+Script&display=swap"
    >
    <link
      rel="stylesheet"
      href="{% static "clusters/css/style.css" %}"
    >

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg dark-grey-bg text-white">
      <a class="navbar-brand text-white title" href="{% url 'clusters:index' %}">
        Career Landscape
      </a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <img src="{% static "clusters/images/justify.svg" %}" alt="" width="32" height="32" title="Documents">
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active text-white" href="{% url 'clusters:manage' %}">
                Manage
          </a>
          <a class="nav-item nav-link active text-white" href="{% url 'clusters:about' %}">
            About <span class="sr-only">(current)</span>
          </a>
        </div>
      </div>
      <span class="navbar-text mr-4">
        <img src="{% static "clusters/images/person-fill.svg" %}" alt="" width="32" height="32" title="Documents">
        Welcome, {{ request.user }}
      </span>
      <span class="navbar-text">
        <a class="text-light mr-3" href="{% url 'logout' %}"> Logout </a>
      </span>
    </nav>

    <div class='container-fluid clearfix'>

        <div class="row">
          <div class="col-md-12">
            {% if messages %}
              {% for message in messages%}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="row p-4">
            <div class="col-md-4">
              <div class="shadow card p-3" style="width: 18rem;">
                <h4 class="card-title">
                    <img src="{% static "clusters/images/documents.svg" %}" alt="" width="32" height="32" title="Documents">
                    Upload Excel
                </h4>
                <hr>
                <form class='mt-2' action="{% url 'clusters:manage' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ upload }}
                  <br><br><input class="float-right" type="submit" value="Upload">
                </form>
              </div>
            </div>
            <div class="card shadow p-3 col-md-8">
                <form action="{% url 'clusters:manage' %}" method="get">
                    <div class="form-group">
                        <label class='text-right' for="selected_user">
                            <h4>
                                <img src="{% static "clusters/images/people.svg" %}" alt="" width="38" height="38" title="Documents">
                                 Users Career Landscapes
                            </h4>
                          </label>
                          <hr>
                          <select
                          class="mt-4 form-control"
                          name="selected_user"
                          id="selected_user"
                          >
                            {% for user_id, username in users.items %}
                                <option value={{ user_id }}>
                                  {{ username.0 }} {{ username.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="See">
                </form>
            </div>
          </div>

    </div>

    <footer
      id="sticky-footer"
      class="footer fixed-bottom mt-auto py-2 dark-grey-bg text-white-50"
      style="margin-bottom:0px"
    >
      <div class="container text-center">
        <small>
          Copyright &copy; <span class="title">XPeppers, a Claranet Group Company</span>
        </small>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
