[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"

[packages]
django = "*"
psycopg2-binary = "*"
factory-boy = "*"
pandas = "*"
xlrd = "*"
django-excel = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
