{% include "blocks/header.html" %}

<body>
  {% include "blocks/navbar.html" %}

  {% block content %}
  <div class="container-fluid clearfix">
    <div class="row p-3">
      <div class="col-md-2"></div>
      <div class="col-md-8 d-flex justify-content-center">
        <div class="shadow card p-3 m-5" style="width: 18rem;">
          <h4>
            <img src="{% static "clusters/images/shield-lock-fill.svg" %}" alt="" width="38" height="38" title="Documents">
            Logged out
          </h4>
          <p class="text-right"><a href="{% url 'login'%}">Login again</a></p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  {% endblock %}

{% include "blocks/footer.html" %}
{% include "blocks/scripts.html" %}
</body>
</html>

