.row {
    padding: 15px;
    margin: 5auto;
}

p {
    font-family: 'Dosis', sans-serif;
}

li {
    font-family: 'Dosis', sans-serif;
}

.title {
    font-family: 'Kaushan Script', cursive;
}

.lead {
    font-family: 'Dosis', sans-serif;
}

.card-align {
    margin: auto;
    width: 50%;
}

#sticky-footer {
    margin-top: 40px;
}